################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Parzysta/bin/Debug
/Parzysta/obj/Debug
